<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="text-center jumbotron">
      <h1>The <span class="blue-color">Community</span></h1>
      <p>Welcome to the Tutor Hub community.</p>
      <p>Users must fill out a profile in order to be visible in the community.</p>
    </div>
    
    <hr/>
    
    <% @users.each do |user| %>
      <% if user.profile %>
        <div class="col-md-6">
          <ul class="list-unstyled">
            <li>
              <div class="well row <%= cycle('white-bg', '') %> user-index-well">
                
                <div class="col-md-12 text-center">
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                </div>
                
                <div class="col-md-12 text-center">
                  <% if user.profile.avatar %>
                    <%= link_to user do %>
                      <%= image_tag user.profile.avatar.url(:thumb), class: 'user-index-avatar' %>
                    <% end %>
                  <% end %>
                </div>
                
                &nbsp;
                
                <div class="col-md-12 text-center">
                  <p>
                    <% if user.profile.job_title == "Student" %>
                      <i class="fa fa-graduation-cap"></i> <%= user.profile.job_title %>
                    <% else %>
                      <i class="fa fa-university"></i> <%= user.profile.job_title %>
                    <% end %> 
                    <% if user.plan_id == 2 %>
                      | <span class="label label-danger">PREMIUM</span>
                    <% end %>
                  </p>
                </div>
                
              </div>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>