<!--Forgot Password Title-->
<div class="row">
  <div class="col-md-12 well text-center">
    <h2>Forgot your password?</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 well">
      
      <!--Email Field-->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
        </div>
      </div>
      
      <br/>
      
      <!--Submit Button-->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-success" %>
          </div>
        </div>
      </div>
      
      <br/>
      
      <!--Shared Links-->
      <div class="text-center">
        <%= render "devise/shared/links" %>
      </div>
      
    </div>
  </div>
<% end %>